extends layout.pug

block append scripts
  script(type='text/javascript').
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5eda05f99e5f6944228ff121/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
    })();
  // End of Tawk.to Script
block content
  .container(style='height:1300px;')
        .row.mt-5.pt-5
            .col.text-center
                h1  "Here our doctors are available for serve you. Start chat now..."


