head
  title
    | My Site - Patient System
header This is a header
div Start a chat now.
footer This is a footer
// Start of Tawk.to Script
script(type='text/javascript').
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
  var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
  s1.async = true;
  s1.src = 'https://embed.tawk.to/5eda05f99e5f6944228ff121/default';
  s1.charset = 'UTF-8';
  s1.setAttribute('crossorigin', '*');
  s0.parentNode.insertBefore(s1, s0);
  })();
// End of Tawk.to Script
