extends layout.pug

block content
    h1  this is a home Page
    a(href="/paymentPage") Payment Page
    p #{obj.pid}            
    a(href="/servicePage/"+obj.pid) View Service
    img(src="./../public/images/pt1.jpg", height="1000", width="1000")