extends layout.pug
block append scripts
    script(type='text/javascript').
        if(#{obj.pid == 0})
        {
            //Do Nothing Here
        }
        else
        {
            localStorage.setItem("ptid",#{obj.pid});
        }
        function callService()
        {
            window.location.href = "http://localhost:8080/servicePage/"+localStorage.getItem("ptid")
        }
        function callPayment()
        {
            window.location.href = "http://localhost:8080/paymentPage/"+localStorage.getItem("ptid")
        }
    block content
    main
    .container(style='height:1300px;')
        .row.mt-5.pt-5
            .col.text-center
                h1  "We are a team of doctor and you will get care here."
                img(src="/images/h1.jpg" height="400" width="500" border="1")
                emsp
                img(src="/images/h3.jpg" height="400" width="500" border="1")
                br
                img(src="/images/h4.jpeg" height="400" width="500" border="1")
                emsp
                img(src="/images/h2.jpeg" height="400" width="500" border="1")