html
  head
    title My Site - Patient System
    block scripts
  body
    block head
      #header
        a(href="/logout") Logout
    block content
    block foot
      #footer
        p This is a footer