html
  head
    title My Site - Patient System
    block scripts
      script(type="text/javascript")
        alert("Layout Called")
  body
    block head
      #header
        p This is a Header
    block content
    block foot
      #footer
        p This is a footer