html    
    head
        script(type="text/javascript").
            $(document).ready(function() {
                localStorage.removeItem("ptid");
            })
        title My Site - Patient System
    body    
        h1 Successfully Logged Out!!
        a(href="/") Login Again!
            
        