html
    head
        script(type="text/javascript").
            window.onload = function(){
                var pid = localStorage.getItem("ptid");
                document.getElementById('pidval').innerHTML = pid;
                };
        title Patient System
        body
            h1  this is a payment Page
            p(id="pidval")
            input(type="text" )



