extends layout.pug

block append script
    script(src="https://code.jquery.com/jquery-3.5.0.js")
        script(type="text/javascript").
            $(document).ready(function(){
                var pid = localStorage.getItem("ptid");
                //- alert(pid);
                $.ajax({
                    type: 'post',
                    url: '/payment/history',
                    data: {pid: pid},
                    success: function(result){
                    for(var i=0;i<=result.length;i++){
                        document.getElementById('temp').innerHTML = result[i][''];    
                    }
                    }
                })
            });

block content
html
    head    
        
        title Patient System    
    body
        div(id="temp")