html
    head
        script(type="text/javascript").
            window.onload = function(){
                var pid = localStorage.getItem("ptid");
                document.getElementById('pidval').value = pid;
                };
        title Patient System
        body
            form#AddPaymentForm(method='post' action='/payment/add')
                input(type="hidden" name="ptid" id="pidval")
                label Add Payment Amount
                input#email(type='text' name='creditAmt')
                input(type='submit' name='submit' value='submit')



